
@{
    ViewBag.Title = "EstadoCuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @model Examen2_ds411.Models.cliente
    <h2>EstadoCuenta</h2>

    <div class="card">
        <div class="card-header">
            Estado de cuenta
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text text-success" >$ </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    
    <pre class="p-2">Transaciones</pre>

    <div class="card">
        <div class="card-header">
            Tipo de transacion
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Monto de trasaccion</p>
                <footer class="blockquote-footer">Fecha <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </div>
    </div>